@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', sans-serif;
    background-color: black;
    font-size: x-large;

}

body {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: hidden;
}

#titulo {
    color: white;
    font-weight: bold;
}


main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    padding: 5px;
    outline: none;
    background-color: white;
    accent-color: rgb(242, 0, 117);
    border: none;
    border-radius: 6px;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
    color: white;
}

input[type=range] {
    width: 60%;
}

.texto {
    color: white;
    font-size: 18px;
}

button {
    background-color: rgb(242, 0, 117);
    cursor: pointer;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 8px;
    width: 15%;
}

button:hover {
    transition: .2s ease;
    opacity: 0.6;
}
/*
#copied {
    background-color: white;
    font-size: 2rem;
    border-radius: .5rem;
    padding: .2rem 1em;
    opacity: 1;
    position: absolute;
    top: 12rem;
    transition: .2s ease;
    opacity: 0;

    &.--show {
        top: 15.5rem;
        opacity: 1;
    }
}
*/
