@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body{
    font-family: 'Amatic SC',sans-serif;
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#titulo {
    color: white;
    font-weight: bold;
}

#input {
    padding: 8px;
    font-size: 20px;
    width: 100%;
    background-color: white;
    border: none;
    font-family: sans-serif;
    color: rgb(99, 98, 98);
}

#button {
    background-color: rgb(240, 26, 97);
    padding: 8px;
    border-radius: 5px;
    width: 25%;
    font-size: 25px;
    font-weight: bold;
    color: white;
    transition: .2s ease;
    border: none;
}

#button:hover {
    transition: .2s ease;
    opacity: 0.6;
}


















































#copied {
    background-color: white;
    font-size: 2rem;
    border-radius: .5rem;
    padding: .2rem 1em;
    opacity: 1;
    position: absolute;
    top: 12rem;
    transition: .2s ease;
    opacity: 0;

    &.--show {
        top: 15.5rem;
        opacity: 1;
    }
}